<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summit.stp.comment.infrastructure.persistence.mapper.CommentsMapper">
    
    <resultMap id="voMap" type="com.summit.stp.comment.application.vo.CommentVO">
        <result column="commentId"  property="id" javaType="Long"/>
        <result column="rootId" property="rootId" javaType="Long"/>
        <result column="parentId" property="parentId" javaType="Long"/>
        <result column="postId" property="postId" javaType="Long"/>
        <result column="postPublisherId" property="postPublisherId" javaType="Long"/>
        <result column="postStatus" property="postStatus" javaType="Boolean"/>
        <result column="isAudit" property="isAudit" javaType="Boolean"/>
        <result column="commentType" property="type" javaType="Integer"/>
        <result column="content" property="content" javaType="String" />
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="isTop" property="isTop" javaType="Integer"/>
        <result column="status" property="status" javaType="Integer"/>
        <result column="publisherId" property="publisherId" javaType="Long"/>
        <result column="client_type" property="clientType" javaType="String"/>
        <result column="ipLocation" property="ipLocation" javaType="String"/>
        <result column="hotScore" property="hotScore" javaType="Double"/>
        <result column="extra" property="extra" javaType="com.summit.stp.comment.domain.model.Comment$Extra" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>




    <select id="queryCommentByPostIdWithCursor" resultMap="voMap">
        select c.id as commentId,
        c.root_id as rootId,
        c.parent_id as parentId,
        c.post_id as postId,
        p.creator_id as postPublisherId,
        p.status as postStatus,
        c.is_audit as isAudit,
        c.type as commentType,
        c.content as content,
        c.create_time as createTime,
        c.is_top as isTop,
        c.status as status,
        c.ip_location as ipLocation,
        c.client_type as client_type,
        c.reply_count as replyCount,
        c.hot_score as hotScore,
        c.user_id as publisherId,
        c.extra as extra
        from comments c
        left join posts p on p.id = c.post_id
        <where>
            c.post_id = #{postId}
            <if test="lastCommentIdCursor != null and lastHotScoreCursor != null">
                and ((c.hot_score &lt; #{lastHotScoreCursor}) or (c.hot_score = #{lastHotScoreCursor} and c.id &lt;  #{lastCommentIdCursor}))
            </if>
        and c.root_id is null
            and c.parent_id is null
            and c.is_audit = 1
            and c.status = 1
        </where>
        order by c.is_top desc, c.hot_score desc,c.id desc
        limit #{limit}
    </select>
    <select id="queryReplyByCursor" resultMap="voMap">
        select c.id as commentId,
        c.root_id as rootId,
        c.user_id as publisherId,
        c.parent_id as parentId,
        c.post_id as postId,
        p.creator_id as postPublisherId,
        p.status as postStatus,
        c.is_audit as isAudit,
        c.type as commentType,
        c.content as content,
        c.create_time as createTime,
        c.is_top as isTop,
        c.status as status,
        c.ip_location as ipLocation,
        c.client_type as client_type,
        c.reply_count as replyCount,
        c.extra as extra
        from comments c
        left join posts p on p.id = c.post_id
        <where>
            c.post_id = #{postId}
            <if test="cursor != null">
                and c.id &lt; #{cursor}
            </if>
            and c.root_id = #{rootId}
            and c.is_audit = 1
            and c.status = 1
        </where>
        order by c.id desc
        limit #{limit}
    </select>

    <select id="countReplyCountByPostIds" resultType="map">
        select
            c.post_id as postId,
            count(1) as replyCount
        from comments c
        <where>
            <if test="postIds != null and postIds.size() > 0">
                c.post_id in
                <foreach collection="postIds" item="postId" open="(" separator="," close=")">
                    #{postId}
                </foreach>
            </if>
        </where>
        group by c.post_id
    </select>
    <select id="queryActiveComment"
            resultType="com.summit.stp.comment.infrastructure.persistence.po.CommentsPO">
        SELECT c.id, c.hot_score AS hotScore, c.create_time as createTime, c.reply_count AS replyCount, c.like_count AS likeCount, c.update_time as updateTime
        FROM comments c
        WHERE c.status = 1
          AND c.update_time >= #{deadLine}
          AND c.parent_id IS NULL
          AND c.root_id IS NULL
          <if test="lastUpdateTime != null and lastId != null">
              AND (c.update_time, c.id) > (#{lastUpdateTime}, #{lastId})
          </if>
        ORDER BY c.update_time , c.id
        LIMIT 1000;
    </select>

</mapper>
