<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summit.stp.coupon.infrastructure.persistence.mapper.CouponActivityMapper">
    <update id="batchUpdate">
        update coupon_activity
        set stock =  case public_id
            <foreach item="stock" collection="entrySet()" index="id">
                when #{id} then stock = #{stock}
            </foreach>

        end where public_id in
        <foreach item="key" collection="keySet()" separator="," close=")" open="(">
            #{key}
        </foreach>
        />
    </update>
</mapper>
